<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--点击事件-->

<!--鼠标选中事件-->

<div id="zoneA" style="width: 200px;background-color: red;height: 20px">zoneA</div>
<div id="zoneA-addition" style="width: 200px;background-color: blue;height: 400px;display: none">zoneA-addition</div>
<script>
    function closest(el, selector) {
        var matchesSelector = el.matches || el.webkitMatchesSelector || el.mozMatchesSelector || el.msMatchesSelector;

        while (el) {
            if (matchesSelector.call(el, selector)) {
                break;
            }
            el = el.parentElement;
        }
        return el;
    }

    // 点击searchbox,下拉框searchcatagories弹出。点击其它地方，下拉框收起
    document.getElementById("zoneA").onclick=function (ev) {
       // ev.stopPropagation();//阻止事件冒泡
        var tag = document.getElementById("zoneA-addition");

        tag.display = "block"
        var flag = true;
        // document.onclick = function (ev) {
        //     var target = ev.target;
        //     var ele = closest(target,tag)
        //     console.log(ele)
        //     // if(ele.length == 0 && flag == true){
        //     //     tag.display = "none";
        //     //     flag = false;
        //     // }
        // }
    }

</script>
</body>
</html>