<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xb.mybatis.dao.UserMapper">
  <resultMap id="BaseResultMap" type="xb.entity.User">
    <id column="id_user" jdbcType="CHAR" property="idUser" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id_user = #{idUser,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="xb.entity.User">
    insert into user (id_user, name, birthday
      )
    values (#{idUser,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="xb.entity.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP}
    where id_user = #{idUser,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="xb.entity.User">
    select name,id_user,mobile_phone
    from user
    where id_user = #{idUser,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_user, name, birthday
    from xb_user
  </select>
</mapper>