<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/jquery-2.2.4.min.js}" ></script>
    <style>
        p{
            font-size: 12px;
        }
    </style>
    <script type="text/javascript" >
        function initPersonArr() {
            var person1 = new Object();
            person1.idUser="内部id1"
            person1.name="内部姓名1"
            var person2 = new Object();
            person2.idUser="内部id2"
            person2.name="内部姓名2"
            var personArr= new Array();
            personArr.push(person1)
            personArr.push(person2)
            return personArr;
        }

        //字符串数组上传
        function simpleArrUpload() {
            var data = ["1","2","3"]
            $.ajax({
                url:"/simpleArr",
                traditional:true,
                data:{"data":data},
                success:function (data) {
                    console.log(data)
                }
            })
        }

        //对象数组上传
        function objArrUpload() {
            var personArr = initPersonArr();
            $.ajax({
                url:"/objArr",
                type:"POST",
                data:{"user":JSON.stringify(personArr)},
                success:function (data) {
                    console.log(data)
                }
            })
        }

        //复选框数据上传
        function submitCheckBox(){
            console.log("1")
            var selectedValueArr = document.getElementsByName("fruit");
            var data = new Array();
            for(var index in selectedValueArr){
                if(selectedValueArr[index].checked){
                    data.push(selectedValueArr[index].value)
                }
            }
            console.log(data)
            $.ajax({
                url:"/checkBox",
                traditional:true,
                type:"POST",
                data:{"data":data},
                success:function (data) {
                    console.log(data)
                }
            })
        }

        //自定义表单提交
        function customerForm() {
            var personArr = initPersonArr();
            var userDTO = new Object();
            userDTO.idUser = "外层idUser";
            userDTO.userList = personArr;
            var formData = new FormData();
            var _userDTO = userDTO;
            formData.append("_userDTO", JSON.stringify(_userDTO));
            var request = new XMLHttpRequest();
            request.open("POST", "/objFromForm");
            request.send(formData);
        }
    </script>
</head>
<body>
    <div>
        <label>
            <p>简单的字符串数组传递:["1","2","3"]</p>
            <button onclick="simpleArrUpload();">simpleArrUpload</button>
        </label>
    </div>

    <div>
        <p>对象数组传递：[{"id":"1","name":"a"},{"id":"2","name":"b"}]</p>
        <button onclick="objArrUpload();">objArrUpload</button>
    </div>


    <div>
        <p>自定义表单传递嵌套对象: {"name":"V","student":[{"id":"1","name":"a"},{"id":"2","name":"b"}]}
        </p>
        <button onclick="customerForm();">customerForm</button>
    </div>

    <div>
        <p>复选框数据传递</p>
        <label><input name="fruit" type="checkbox" value="a1" title="this is a1"/>a1</label>
        <label><input name="fruit" type="checkbox" value="a2" title="this is a2"/>a2</label>
        <label><input name="fruit" type="checkbox" value="a3" title="this is a3"/>a3</label>
        <button onclick="submitCheckBox()"> submit </button>
    </div>

    <div>
        <p>最简单的文件上传</p>
        <form method="POST" enctype="multipart/form-data" action="/sampleFileUpload">
            <label><input name="name"/> 姓名</label>
            <label><input type="file" name="file" value="file"/></label>
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div>
        <p>最简单的多文件上传</p>
        <form method="POST" enctype="multipart/form-data" action="/sampleFileUpload2">
            <label><input name="name"/> 姓名</label>
            <label><input type="file" name="file1" value="file1"/></label>
            <label><input type="file" name="file2" value="file2"/></label>
            <label><input type="file" name="file3" value="file3"/></label>
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div>
        <p>混合文件上传</p>
        <form method="POST" enctype="multipart/form-data" action="/complexFileUpload">
            <label><input name="name"/> 姓名</label>

            <label><input type="file" name="file" value="press"/></label>
            <label><input type="file" name="files" value="press"/></label>
            <label><input type="file" name="files" value="press"/></label>
            <label><input type="file" name="files" value="press"/></label>



            <!--            <ul>-->
<!--                <li>-->
<!--                    <label><input name="cardId" type="checkbox" value="a1" title="this is a1"/>a1</label>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label><input name="cardId" type="checkbox" value="a2" title="this is a2"/>a2</label>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label><input name="cardId" type="checkbox" value="a3" title="this is a3"/>a3</label>-->
<!--                </li>-->
<!--            </ul>-->

            <input type="submit" value="submit"/>
        </form>
    </div>

    <div>
        <p>文件处理12</p>
        <form method="POST" enctype="multipart/form-data" action="/fileProcess">
            <label><input type="file" name="file" value="file123"/></label>
            <input type="submit" value="submit"/>
        </form>
    </div>
</body>
</html>