<configuration>

    <appender name="STDOUT_xb" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="configuration.LogbackFilter"></filter>
        <encoder>
            <pattern>[%thread] %-5level %logger{35} --- %magenta(%msg) %n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="configuration.LogbackFilterNormal"></filter>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT_xb" />

        <appender-ref ref="STDOUT" />
    </root>
</configuration>